In [1]:
import pandas as pd
import numpy as np
 
import os
print(r"C:\Users\ASUS\Desktop\ml\KNN algrothim")

C:\Users\ASUS\Desktop\ml\KNN algrothim

In [5]:
df = pd.read_csv(r"C:\Users\ASUS\Desktop\ml\KNN algrothim\Placement_Data_Full_Class.csv")

# Select specific columns/features
features = ["hsc_p", "ssc_p", "salary"]
x = df[features]

In [6]:
x.head()

   hsc_p  ssc_p    salary
0  91.00  67.00  270000.0
1  78.33  79.33  200000.0
2  68.00  65.00  250000.0
3  52.00  56.00       NaN
4  73.60  85.80  425000.0

In [10]:
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer()
X = pd.DataFrame(my_imputer.fit_transform(x))
X.columns =x.columns
y= df["gender"]

In [11]:
X.head()

   hsc_p  ssc_p         salary
0  91.00  67.00  270000.000000
1  78.33  79.33  200000.000000
2  68.00  65.00  250000.000000
3  52.00  56.00  288655.405405
4  73.60  85.80  425000.000000

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size=0.2)

In [14]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=1, metric='minkowski',weights='distance')
knn.fit(X_train, y_train)

y_pred = knn.predict(X_test)

In [15]:
df= pd. DataFrame ( { 'Actual' : y_test, 'predicted':y_pred})
df

    Actual predicted
211      M         M
110      F         M
166      M         F
177      F         M
71       M         M
194      M         F
56       M         M
192      M         M
62       F         F
31       F         M
61       M         M
148      F         M
64       M         M
134      F         F
129      M         F
26       M         M
102      F         F
173      F         F
68       F         M
212      M         M
90       F         M
178      M         M
9        M         F
132      M         M
108      M         F
144      M         M
63       M         M
33       F         M
120      M         M
72       M         M
185      F         M
111      M         F
191      M         M
20       M         M
14       M         M
115      F         F
179      F         F
196      M         M
190      F         F
92       F         F
82       M         F
75       F         M
187      M         F

In [16]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test, y_pred)
print(cm)

[[ 8  9]
 [ 8 18]]

In [22]:
from sklearn.model_selection import cross_val_score
success = cross_val_score(estimator = knn, X=X_train, y=y_train , cv = 4)
print(success.mean())
print(success.std())

0.6627906976744186
0.06261819543179654

In [20]:
output = pd.DataFrame({'sscp':X_test.ssc_p,'hscp':X_test.hsc_p,'Salary': X_test.salary,'Gender':y_test,'PredictGender':y_pred})
output.to_csv('KnnSubmission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!